{% extends 'base.html.twig' %}

{% block title %}Create workout{% endblock %}

{% block body %}
    <style>
        body {
            background-color: #F1F8E8;
            font: 18px/1.5 Monaco;
        }

        .example-wrapper {
            padding-top: 3em;
            margin: 1em auto;
            max-width: 800px;
            width: 95%;

        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }

        table {
            max-width: 100vw;
            border-collapse: collapse;
            border-radius: 7px;
            overflow: hidden;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

        }

        th {
            border-bottom: 2px solid black;
            background-color: #55AD9B !important;
        }

        th, td {
            padding: 8px;
            text-align: left;
        }

        tr:hover {
            --bs-table-hover-color: #55AD9B;
        }


        .button-group {
            display: flex;
            gap: 10px;
        }

        .button-group button {
            padding: 5px 10px;
            cursor: pointer;
        }

        .nav-item {
            text-decoration: none;
            color: #e0e0e0;
            font-size: 20px;
        }

        button {
            color: #dc3545;
            border-color: #dc3545;
            border-radius: 5px;
            background-color: #F1F8E8;
            margin-bottom: 1rem;
            transition: 0.3s ease-in-out;
            border-style: solid;
            padding: 5px 10px;
        }

        button:hover {
            color: #F5F5F5;
            background-color: #dc3545;
        }

        .backWrapper button {
            position: relative;
            display: inline-block;
            cursor: pointer;
            outline: none;
            border: 0;
            vertical-align: middle;
            text-decoration: none;
            background: transparent;
            padding: 0;
            font-size: inherit;
            font-family: inherit;

        }

        .backWrapper button.back-button {
            width: 12rem;
            height: auto;
        }

        .backWrapper button.back-button .circle {
            transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
            position: relative;
            display: block;
            margin: 0;
            width: 3rem;
            height: 3rem;
            background: #282936;
            border-radius: 1.625rem;
        }

        .backWrapper button.back-button .circle .icon {
            transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            background: #fff;
        }

        .backWrapper button.back-button .circle .icon.arrow {
            transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
            left: 1.2rem;
            width: 1.2rem;
            height: .125rem;
            background: none;
        }

        .backWrapper button.back-button .circle .icon.arrow::before {
            position: absolute;
            content: "";
            top: -0.25rem; /* Keeps it vertically aligned with the middle */
            left: 0rem; /* Position it from the left instead of right */
            width: 0.625rem;
            height: 0.625rem;
            border-top: 0.125rem solid #fff; /* Same size but change direction */
            border-left: 0.125rem solid #fff; /* Use border-left instead of border-right */
            transform: rotate(-50deg); /* Rotate it to point left */
        }

        .backWrapper button.back-button .button-text {
            transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 0.75rem 0;
            margin: 0 0 0 1.85rem;
            color: #282936;
            font-weight: 700;
            line-height: 1.6;
            text-align: center;
            text-transform: uppercase;
        }

        .backWrapper button:hover .circle {
            width: 100%;
        }

        .backWrapper button:hover .circle .icon.arrow {
            background: #fff;
            transform: translate(0rem, 0);
            left: 3rem;
        }

        .backWrapper button:hover .button-text {
            color: #fff;
        }

    </style>

    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="/imgs/Inverted_LogoSmartWorkout.png" alt="Logo" width="100">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item ms-3">
                        <a class="nav-link" href="/muscleList">Exercises</a>
                    </li>
                    <li class="nav-item ms-3">
                        <a class="nav-link" href="/workoutsList">Workouts Log</a>
                    </li>
                </ul>
            </div>
            <div class="ml-auto">
                <a href="/login" class="btn btn-outline-warning">Log In</a>
                <a href="/user/register" class="btn btn-outline-light">Register</a>
            </div>
        </div>
    </nav>


    <div class="example-wrapper">
        <div class="backWrapper">
            <button onclick="window.history.back();" class="back-button mb-3">
            <span class="circle" aria-hidden="true">
            <span class="icon arrow"></span>
            </span>
                <span class="button-text">Back</span>
            </button>
        </div>


        {% form_theme form 'bootstrap_5_layout.html.twig' %}

        {{ form_start(form) }}

        <ul class="exerciseLogs"
            data-index="{{ form.exerciseLogs|length > 0 ? form.exerciseLogs|last.vars.name + 1 : 0 }}"
            data-prototype="{{ form_widget(form.exerciseLogs.vars.prototype)|e('html_attr') }}"
        >
            {% for exerciseLog in form.exerciseLogs %}
                <li>{{ form_row(exerciseLog) }}</li>
            {% endfor %}
        </ul>
        <button type="button" class="add_item_link btn btn-warning mb-3" data-collection-holder-class="exerciseLogs">Add
            an exercise log
        </button>
        {{ form_end(form) }}
    </div>

    <script>
        document
            .querySelectorAll('.add_item_link')
            .forEach(btn => {
                btn.addEventListener("click", addFormToCollection)
            });

        function addFormToCollection(e) {
            const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

            const item = document.createElement('li');

            item.innerHTML = collectionHolder
                .dataset
                .prototype
                .replace(
                    /__name__/g,
                    collectionHolder.dataset.index
                );

            collectionHolder.appendChild(item);

            collectionHolder.dataset.index++;

            // add remove button
            const removeFormButton = document.createElement('button');
            removeFormButton.innerText = 'Remove this Exercise Log';

            item.append(removeFormButton);

            removeFormButton.addEventListener('click', (e) => {
                e.preventDefault();
                // remove the li for the exerciseLog form
                item.remove();
            });
        }
    </script>

{% endblock %}